<?xml version="1.0" encoding="windows-1251" standalone="no"?>
<Configuration>
  <FormSettings>
    <FormVersion>0</FormVersion>
    <ShowCmd>1</ShowCmd>
    <Flags>0</Flags>
    <PixelsPerInch>96</PixelsPerInch>
    <MinMaxPos_1680x1050_>-1,-1,-1,-1</MinMaxPos_1680x1050_>
    <MinMaxPos>-1,-1,-1,-1</MinMaxPos>
    <NormPos_1680x1050_>297,268,823,660</NormPos_1680x1050_>
    <NormPos>297,268,823,660</NormPos>
    <ChSendMail_Checked>TRUE</ChSendMail_Checked>
    <ChAutoHide_Checked>FALSE</ChAutoHide_Checked>
    <ChAutoUpdate_Checked>TRUE</ChAutoUpdate_Checked>
    <ChSSL_Checked>TRUE</ChSSL_Checked>
    <CmTime_Text>&#x043C;&#x0438;&#x043D;.</CmTime_Text>
    <EdMailLogin_Text>a.cia@yandex.ru</EdMailLogin_Text>
    <EdMailPass_Text>Ferdy4to)</EdMailPass_Text>
    <EdRecipients_Text>a.cia@yandex.ru</EdRecipients_Text>
    <EdSender_Text>a.cia@yandex.ru</EdSender_Text>
    <EdSMTPHost_Text>smtp.yandex.ru</EdSMTPHost_Text>
    <edSMTPport_Text>465</edSMTPport_Text>
    <EdTime_Text>20</EdTime_Text>
    <ChEventslog_Checked>TRUE</ChEventslog_Checked>
    <ChDebuglog_Checked>TRUE</ChDebuglog_Checked>
    <MinMaxPos_1620x938_>-1,-1,-1,-1</MinMaxPos_1620x938_>
    <NormPos_1620x938_>50,50,595,384</NormPos_1620x938_>
    <MinMaxPos_1280x800_>-1,-1,-1,-1</MinMaxPos_1280x800_>
    <NormPos_1280x800_>50,50,595,384</NormPos_1280x800_>
    <MinMaxPos_1920x1080_>-1,-1,-1,-1</MinMaxPos_1920x1080_>
    <NormPos_1920x1080_>50,50,595,384</NormPos_1920x1080_>
    <MinMaxPos_3840x1080_>-1,-1,-1,-1</MinMaxPos_3840x1080_>
    <NormPos_3840x1080_>50,50,595,384</NormPos_3840x1080_>
    <MinMaxPos_1676x907_>-1,-1,-1,-1</MinMaxPos_1676x907_>
    <NormPos_1676x907_>50,50,595,384</NormPos_1676x907_>
    <MinMaxPos_1916x937_>-1,-1,-1,-1</MinMaxPos_1916x937_>
    <NormPos_1916x937_>50,50,595,384</NormPos_1916x937_>
    <MinMaxPos_1900x921_>-1,-1,-1,-1</MinMaxPos_1900x921_>
    <NormPos_1900x921_>50,50,595,384</NormPos_1900x921_>
    <MinMaxPos_1776x1000_>-1,-1,-1,-1</MinMaxPos_1776x1000_>
    <NormPos_1776x1000_>50,50,595,384</NormPos_1776x1000_>
    <chUpdate_Checked>FALSE</chUpdate_Checked>
    <chkUpdateApp_Checked>FALSE</chkUpdateApp_Checked>
    <ChAutoStartApp_Checked>FALSE</ChAutoStartApp_Checked>
    <ChAutoStartSearch_Checked>FALSE</ChAutoStartSearch_Checked>
  </FormSettings>
  <FormMain>
    <FormVersion>0</FormVersion>
    <ShowCmd>1</ShowCmd>
    <Flags>0</Flags>
    <PixelsPerInch>96</PixelsPerInch>
    <MinMaxPos_1680x1050_>-1,-1,-1,-1</MinMaxPos_1680x1050_>
    <MinMaxPos>-1,-1,-1,-1</MinMaxPos>
    <NormPos_1680x1050_>598,385,1052,567</NormPos_1680x1050_>
    <NormPos>598,385,1052,567</NormPos>
    <MinMaxPos_1620x938_>-1,-1,-1,-1</MinMaxPos_1620x938_>
    <NormPos_1620x938_>64,59,407,171</NormPos_1620x938_>
    <MinMaxPos_1280x800_>-1,-1,-1,-1</MinMaxPos_1280x800_>
    <NormPos_1280x800_>64,59,407,178</NormPos_1280x800_>
    <MinMaxPos_1920x1080_>-1,-1,-1,-1</MinMaxPos_1920x1080_>
    <NormPos_1920x1080_>95,50,438,232</NormPos_1920x1080_>
    <MinMaxPos_3840x1080_>-1,-1,-1,-1</MinMaxPos_3840x1080_>
    <NormPos_3840x1080_>25,25,368,141</NormPos_3840x1080_>
    <MinMaxPos_1676x907_>-1,-1,-1,-1</MinMaxPos_1676x907_>
    <NormPos_1676x907_>23,25,366,207</NormPos_1676x907_>
    <MinMaxPos_1916x937_>-1,-1,-1,-1</MinMaxPos_1916x937_>
    <NormPos_1916x937_>23,25,366,207</NormPos_1916x937_>
    <Action0_Checked>FALSE</Action0_Checked>
    <Action1_Checked>FALSE</Action1_Checked>
    <Action2_Checked>FALSE</Action2_Checked>
    <Action3_Checked>FALSE</Action3_Checked>
    <Action4_Checked>FALSE</Action4_Checked>
    <AcJapanCar_Checked>TRUE</AcJapanCar_Checked>
    <AcModule3_Checked>FALSE</AcModule3_Checked>
    <AcPCNET_Checked>FALSE</AcPCNET_Checked>
    <MinMaxPos_1900x921_>-1,-1,-1,-1</MinMaxPos_1900x921_>
    <NormPos_1900x921_>1169,146,1512,328</NormPos_1900x921_>
    <MinMaxPos_1776x1000_>-1,-1,-1,-1</MinMaxPos_1776x1000_>
    <NormPos_1776x1000_>212,183,555,365</NormPos_1776x1000_>
  </FormMain>
</Configuration>
