.header {
	FONT-FAMILY: "MS P????", "Osaka"; FONT-SIZE: 9pt
}
.textn {
	FONT-FAMILY: "MS P????", "Osaka"; FONT-SIZE: 12pt
}
.textl {
	FONT-FAMILY: "MS P????", "Osaka"; FONT-SIZE: 14pt; FONT-WEIGHT: bold
}
.texts {
	FONT-FAMILY: "MS P????", "Osaka"; FONT-SIZE: 10pt
}
.texta {
	FONT-FAMILY: "MS P????", "Osaka"; FONT-SIZE: 9pt; font-color: #FFFFFF
}
